{% load static %}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>管理员列表</title>
    <link rel="stylesheet" href="{% static 'plupins/bootstrap-3.4.1-dist/css/bootstrap.css' %}">
    {% csrf_token %}
    <script>
        // 通过 JavaScript 获取 CSRF 令牌
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        const csrftoken = getCookie('csrftoken');  // 获取 CSRF 令牌
    </script>
</head>
<body>
<nav class="navbar navbar-default">

    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand">PD后台管理系统</span>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/depart/list/">部门管理 <span class="sr-only">(current)</span></a></li>
                <li><a href="/user/list/1">员工管理</a></li>
                <li class="active"><a href="/manager">管理员账户</a></li>
                <li><a href="/consumer/list/1">客户管理</a></li>
                {% if  request.session.info.depart  ==  manage_id %}
                    <li><a href="/logging/all/1/null">日志管理</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{{ request.session.info.name }}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout">注销</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container">
{% if request.session.info.depart == manage_id %}
    <div style="margin-bottom: 10px">
        <a href="" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
            <div style="align-items: center;display: flex">
        <span class="glyphicon glyphicon-plus-sign" style="margin-right:5px;font-size: 15px" aria-hidden="true">
        </span> 添加管理员
            </div>
        </a>
        <div>
            <form method="post">
                {% csrf_token %}
                <input style="margin-top: 10px" class="form-inline" type="text" name="name"
                       placeholder="输入姓名查询管理员"/>
                <button style="margin-left: 10px" class="btn-primary" type="submit">查询</button>
            </form>
        </div>
    </div>
{% endif %}
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">管理员列表</div>

        <!-- Table -->
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>管理员名称</th>
                <th>管理员账户</th>
                <th>隶属部门</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% if data == None %}
                <tr>
                    <td colspan="100" style="color: #ff0800;text-align: center">无数据</td>
                </tr>
            {% else %}
                {% for i in data %}
                    <tr>
                    <td>{{ i.id }}</td>
                    {% if i.name == request.session.info.name %}
                        <td>{{ i.name }} <span style="color: #ad6704">（当前登录）</span></td>
                    {% else %}
                        <td>{{ i.name }}</td>
                    {% endif %}
                    <td>{% if i.depart.title %}
                        {{ i.depart.title }}
                    {% else %}
                        <span style="color: #ff0800">未设置部门</span>
                    {% endif %}</td>
                    <td>
                        {% if i.name == manage_name %}
                            <span class="text-danger">默认管理员账户，无法更改！</span>
                        {% else %}
                            {% if request.session.info.depart == manage_id or request.session.info.id == i.id %}
                            <a class="btn btn-primary" href="" onclick="manager_edit({{ i.id }}) "
                               data-toggle="modal" data-target="#edit_modal">编辑</a>
                            <a class="btn btn-info" href="" data-toggle="modal" data-target="#reset_modal"
                               onclick="reset_pass({{ i.id }})">重置密码</a>
                                {% if request.session.info.depart == manage_id %}
                            <a class="btn btn-danger" href="javascript:void(0);"
                               onclick="confirmDelete({{ i.id }},'manager',csrftoken)">删除</a>
                                    {% endif %}
                                {% else %}
                                <span style="color: #FF0008">没有权限更改！</span>
                                {% endif %}
                            </td>
                        {% endif %}
                {% endfor %}
            {% endif %}
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">添加管理员</h4>
            </div>

            <div class="modal-body">
                <div class="modal-body">
                    <form novalidate id="form">
                        {% for i in form %}
                            <div class="form-group">
                                <label>{{ i.label }}</label>
                                {{ i }}
                                <span style="color: #ac2925"></span>
                            </div>
                        {% endfor %}
                        <div id="SafePassword_add" style="display: none">
                            <label>安全密码
                                <input type="password" class="form-control" placeholder="安全密码"
                                       required id="id_sp_add">
                                <span id="sp_warn_add" style="color: #ac2925"></span>
                            </label>
                        </div>
                    </form>
                </div>
                <span style="color: #ac2925"></span>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Add()">保存</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="edit_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">编辑管理员</h4>
            </div>
            <div class="modal-body">
                <div class="modal-body">
                    <form novalidate id="form_edit">
                        {% for i in form_edit %}
                            <div class="form-group">
                                <label>{{ i.label }}</label>
                                {{ i }}
                                <span style="color: #ac2925"></span>
                            </div>
                        {% endfor %}
                        <div id="SafePassword_edit" style="display: none">
                            <label>安全密码
                                <input type="password" class="form-control" placeholder="安全密码"
                                       required id="id_sp_edit">
                                <span id="sp_warn_edit" style="color: #ac2925"></span>
                            </label>
                        </div>
                    </form>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="update()">保存</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="reset_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">重置密码</h4>
            </div>
            <div class="modal-body">
                <div class="modal-body">
                    <form novalidate id="form_reset">
                        <div id="SafePassword_reset">
                            <label>安全密码（重置专用）
                                <input type="password" class="form-control" placeholder="安全密码"
                                       required id="id_sp_reset">
                                <span id="sp_warn_reset" style="color: #ac2925"></span>
                            </label>
                        </div>
                        <div id="pass_reset">
                            <label>新密码
                                <input type="password" class="form-control" placeholder="新密码"
                                       required id="id_pass_reset">
                            </label>
                        </div>
                    </form>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="reset_pass()">保存</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/common.js' %}"></script>
<script>
    fieldElement = document.getElementById(`id_confirm_password`);

    function Add() {
        const form = document.getElementById("form");
        const data = new FormData(form);
        const password = document.getElementById("id_password").value
        const confirm_password = document.getElementById("id_confirm_password").value
        const depart = parseInt(document.getElementById("id_depart").value)
        if (depart === {{ manage_id }}) {
            const safe_password = document.getElementById("id_sp_add").value
            if (safe_password === "") {
                document.getElementById("sp_warn_add").innerHTML = "安全密码为空！"
                return;
            } else {
                data.append("safe_password", safe_password)
            }
        }
        if (password === confirm_password) {
            fieldElement.nextElementSibling.innerHTML = ""
            fetch('/manager/add/', {
                method: 'POST',
                headers: {
                    'X-CSRFToken': csrftoken,
                },
                body: data
            })
                .then(response => response.json())
                .then(data => {
                        if (data.state) {
                            alert("添加成功!");
                            window.location.reload();
                        } else {
                            for (const [field, messages] of Object.entries(data.error)) {
                                if (field === "sp") {
                                    document.getElementById("sp_warn_add").innerHTML = "";
                                    document.getElementById("sp_warn_add").innerHTML = messages;
                                    return;
                                }
                                const fieldElement = document.getElementById(`id_${field}`);
                                const errorSpan = fieldElement.nextElementSibling;
                                errorSpan.innerHTML = '';
                                errorSpan.innerHTML = messages;
                            }
                        }
                    }
                )
        } else {
            const errorSpan = fieldElement.nextElementSibling;
            errorSpan.innerHTML = "";
            errorSpan.innerHTML = "两次密码不一致!";
        }
    }
</script>
<script>
    leg
    temp = null;
    password = null;
    confirm_password = null;
    new_password = null;

    function manager_edit(id) {
        password = document.querySelectorAll("#id_password")[1]
        confirm_password = document.querySelectorAll("#id_confirm_password")[1]
        supuermanname = document.querySelectorAll("#id_name")[1]
        new_password = document.getElementById("id_new_password")
        supuermanname.nextElementSibling.innerHTML = ""
        password.nextElementSibling.innerHTML = ""
        confirm_password.nextElementSibling.innerHTML = ""
        new_password.nextElementSibling.innerHTML = ""
        password.value = ""
        confirm_password.value = ""
        new_password.value = ""
        temp = id;
        fetch("/manager/" + id + "/edit", {
            method: "GET",
            headers: {
                'X-CSRFToken': csrftoken,
            },
        })
            .then(response => response.json())
            .then(data => {
                for (const name in data) {
                    const tag = `id_${name}`;
                    const elements = document.querySelectorAll(`#${tag}`);
                    const secondElement = elements[1];
                    secondElement.value = data[name];
                }
            })
    }

    function update() {
        password.nextElementSibling.innerHTML = ""
        new_password.nextElementSibling.innerText = ""
        confirm_password.nextElementSibling.innerText = ""
        if (new_password.value === "") {
            new_password.nextElementSibling.innerText = "这是个必填项!"
        } else {
            if (password.value === confirm_password.value) {
                const form = document.getElementById("form_edit")
                const data = new FormData(form)
                const depart = parseInt(document.querySelectorAll("#id_depart")[1].value)
                if (depart === {{ manage_id }}) {
                    const safe_password = document.getElementById("id_sp_edit").value
                    if (safe_password === "") {
                        document.getElementById("sp_warn_edit").innerHTML = "安全密码为空！"
                        return;
                    } else {
                        data.append("safe_password", safe_password)
                    }
                }
                fetch("/manager/" + temp + "/edit/", {
                    method: "POST",
                    headers: {
                        'X-CSRFToken': csrftoken,
                    },
                    body: data
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.state) {
                            alert("修改成功!");
                            window.location.href = data.url;
                        } else {
                            for (const [field, messages] of Object.entries(data.error)) {
                                if (field === "sp") {
                                    document.getElementById("sp_warn_edit").innerHTML = "";
                                    document.getElementById("sp_warn_edit").innerHTML = messages;
                                    return;
                                }
                                const fieldElement = document.querySelectorAll(`#id_${field}`)[1];
                                const errorSpan = fieldElement.nextElementSibling;
                                errorSpan.innerHTML = '';
                                errorSpan.innerHTML = messages;
                            }
                        }
                    })

            } else {
                confirm_password.nextElementSibling.innerText = "两次密码不一致!"
            }
        }
    }

    function reset_pass(id = null) {
        if (id !== null) {
            localStorage.setItem("editID", id);
        } else {
            id = localStorage.getItem("editID");
            const data = new FormData;
            const safepass = document.getElementById("id_sp_reset").value;
            const pass_reset = document.getElementById("id_pass_reset").value;
            data.append("sp", safepass);
            data.append("reset_pass", pass_reset);
            fetch("/manager/reset/" + id + "/", {
                method: "POST",
                headers: {
                    'X-CSRFToken': csrftoken,
                },
                body: data
            })
                .then(response => response.json())
                .then(data => {
                    if (data.state) {
                        alert("修改成功!");
                        window.location.href = data.url;
                        localStorage.removeItem("editID");
                    } else {
                        document.getElementById("sp_warn_reset").innerHTML = data.error;
                    }
                })
        }
    }
</script>
<script>
    const elements = document.getElementsByName("depart");
    elements[0].addEventListener("change", function () {
        const dynamic = document.getElementById("SafePassword_add");
        if (parseInt(this.value) === {{ manage_id }}) {
            dynamic.style.display = "block";
        } else {
            dynamic.style.display = "none";
        }
    });
    elements[1].addEventListener("change", function () {
        const dynamic = document.getElementById("SafePassword_edit");
        if (parseInt(this.value) === {{ manage_id }}) {
            dynamic.style.display = "block";
        } else {
            dynamic.style.display = "none";
        }
    });

</script>
<script src="{% static 'js/jquery-3.6.0.js' %}"></script>
<script src="{% static 'plupins/bootstrap-3.4.1-dist/js/bootstrap.js' %}"></script>

</body>
</html>